html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Added a transition for the background color for a smoother effect */
  transition: background-color 0.5s ease;
}

button {
  font-size: 3rem;
  padding: 20px 50px;
  cursor: pointer;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: white;
  transition: transform 0.1s;
}

button:active {
  transform: scale(0.95);
}
