body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

table {
  width: 100vw;
  height: 100vh;
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  border: 2px solid black;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  vertical-align: middle;
  font-size: 2vw;
}

.first-cell {
  background-color: #e4ee26;
}

.second-cell {
  background-color: #e05c23;
}
